.ul_list {
    list-style: none;
    margin: 2rem auto;
    width: 90%;
    box-shadow: 0 2px 8px rgba;
    padding: 1rem;
    border-radius: 12px;
    background-color: beige;
    box-shadow: 0 2px 8px;
}
li a{
    width: 200px;
    height: 35px;
    display: flex;
    align-items: center;
    margin: auto;
    cursor: pointer;
    padding: 1em;
    background: rgb(43, 43, 43);
    position: relative;
    color: white;
    border-radius: 5px;
    display: inline-block;
    width: 150px;
    text-decoration: none;
}

.main_body{
    width: 50%;
    margin-left: 25%;
}